/*start alert success*/

.contenedor-alert {
    position: relative;
    height: 40px;
    width: 60%;
    padding-top: 5px;
    margin: auto;
}

.msg-alert-success {
    background: #c5f3d7;
    padding: 10px 40px;
    min-width: 75%;
    position: absolute;
    right: 0;
    bottom: -70px;
    border-radius: 4px;
    border-left: 8px solid #2cd673;
    overflow: hidden;
    opacity: 1;
    margin: auto;
    border-right: 8px solid #2cd673;
}

.msg-alert-success .fa-check-circle {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #24ac60;
    font-size: 20px;
}

.msg-alert-success .msg-success {
    padding: 0;
    font-size: 14px;
    color: #24ac60;
}


/* end alert success*/