.contenedor-general {
    padding-top: 20px;
    min-height: 100vh;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contenedor-one {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.contenedor-img {
    width: 60%;
}

.contenedor-precio {
    width: 40%;
    padding-left: 4em;
}

.gallery-big {
    position: relative;
    padding: 2em;
    border: 1px solid #ccc;
    height: 450px;
    text-align: center;
    margin: 0;
}

.gallery-big img {
    max-width: 100%;
    max-height: 400px;
}

.gallery-small {
    text-align: center;
    background: #fff;
}

.gallery-small a {
    border: 1px solid #ccc;
    height: 80px;
    margin-top: 5px;
    overflow: hidden;
    display: inline-block;
    width: 20%;
    padding: 0.5em;
    opacity: 0.75;
    -webkit-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.gallery-small a img {
    max-width: 100%;
    max-height: 65px;
}

.gallery-small a:hover {
    opacity: 1;
}

.gallery-small a.is-active {
    opacity: 0.2;
}

.contenedor-precio .precio {
    margin-top: 30px;
    margin-bottom: 40px;
}

.contenedor-precio .cantidad {
    margin-bottom: 40px;
}

.contenedor-precio .comprar {
    margin: 0 auto;
    text-align: center;
}

.comprar .btn-comprar {
    background: purple;
    color: #fff;
    width: 80%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.contenedor-two {
    width: 100%;
    margin: 20px auto;
    padding: 5px;
}

@media screen and (max-width: 446px) {
    .gallery-big {
        height: 300px;
        overflow: hidden;
    }
    .gallery-small a {
        height: 30px;
    }
}