html,
body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
}


/*start header*/

.header {
    background: linear-gradient(120deg, #552183, #fe648a, #fe8b47);
    padding: 10px;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.091);
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

nav {
    width: 100%;
    max-width: 1200px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav ul li.logo {
    flex: 1;
    font-size: 30px;
    font-weight: 700;
}

nav ul li.logo a {
    color: #fff;
    text-decoration: none;
}

nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
}


/*separacion de los icos de la letra*/

nav ul div.items span {
    margin-right: 10px;
    color: #522183;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    color: #fff;
}

nav ul div.items a:hover {
    color: #522183;
}

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
    border: solid 1px #cecece !important;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #522183;
    /*border: 1px solid #cccccc;*/
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

nav ul .search-icon .icon:hover {
    background: #e6e6e6;
}

nav ul .search-icon .icon span {
    color: #fff;
    font-size: 18px;
}

nav ul .search-icon .icon span:hover {
    color: #522183;
}

nav ul li.btn {
    display: none;
}

nav ul li.btn span {
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #cecece;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

nav ul li.btn span.show:before {
    content: '\f00d';
}


/* start para desplegar las opciones productos*/

.items li ul {
    display: none;
}

.items li ul li a {
    color: #567;
}

.items li:hover>ul {
    display: block;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    box-shadow: 10px 15px 20px 10px rgba(0, 0, 0, 0.057);
    z-index: 2;
}

.items li:hover>ul li:hover {
    background: linear-gradient(120deg, #fe8b47, #fe648a);
    cursor: pointer;
}

.items li:hover>ul li a:hover {
    cursor: pointer;
    color: #567;
}


/* end para desplegar las opciones*/


/*end header*/


/* start slider*/

.slider-contenedor {
    max-width: 100%;
    max-height: 100vh;
    width: 960px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-top: 80px;
}

.miSlider img {
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.direcciones {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    display: flex;
    /*para centrar al medio*/
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direcciones a {
    color: #fff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover {
    background: rgba(0, 0, 0, .5);
    transition: .5s;
    text-decoration: none;
    color: #fff;
}

.barras {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.barra {
    cursor: pointer;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 0 2px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active {
    background-color: #fe8b47;
}


/*start animacion*/

.animacion {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}


/*end animacion*/


/*end slider*/


/*star main*/

.titulo {
    text-transform: uppercase;
    text-align: left;
}

.main {
    width: 100%;
    padding-top: 15px;
    z-index: 0;
}

.contenedor {
    padding-top: 20px;
    min-height: 100vh;
    display: grid;
    grid-auto-rows: 400px;
    grid-gap: 30px;
    grid-template-columns: repeat(3, minmax(170px, 300px));
    justify-content: center;
    align-items: stretch;
}

.card {
    text-decoration: none;
    position: relative;
    padding: 10px;
    background: white;
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;
    box-shadow: 10px 15px 20px 10px rgba(0, 0, 0, 0.057);
    transition: 0.2s ease-in;
}

.card:hover {
    transition: 0.2s ease-in;
    transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
}

.card-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top-bar {
    width: calc(100% - 40px);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.float-right {
    float: right;
    color: #333333;
}

.imagen {
    width: 100%;
    justify-content: bottom;
    align-content: bottom;
    text-align: center;
}

.img-imagen {
    max-width: 100%;
    max-height: 220px;
}

.card-descripcion {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    width: calc(100%-20px);
}

.carrito {
    float: right;
    cursor: pointer;
}

.carrito span {
    font-size: 19px;
}

.card-footer {
    text-transform: uppercase;
    padding: 0.3em;
    border-top: 0.5px solid #ececec;
    letter-spacing: 0.1em;
    font-size: 11px;
    color: white;
    justify-items: left;
    align-items: center;
    display: flex;
}

.span {
    margin: 5px;
    width: auto;
    background: #dedede;
    padding: 4px 7px;
    border-radius: 2px;
    font-weight: 100;
    cursor: pointer;
}

.span:hover {
    background: #aaaaaa;
}


/*end main*/


/*start footer*/

footer {
    margin-top: 50px;
    background: #f1f1f1;
    padding: 90px 0;
    font-family: "Open Sans", sans-serif;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #333333;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover {
    color: #fca210;
}


/*end footer*/


/*start responsive header*/

@media screen and (max-width: 1080px) {
    .header {
        padding: 10px;
        z-index: 1;
        position: fixed;
    }
    nav ul li.logo {
        display: none;
    }
    nav ul div.items {
        flex: 4;
    }
}

@media screen and (max-width: 860px) {
    .header {
        padding: 10px;
        position: fixed;
    }
    nav ul li.btn {
        display: flex;
        font-size: 29px;
        flex: 1;
        padding: 0 15% 0 0;
    }
    nav ul div.items {
        z-index: 1;
        position: fixed;
        top: 62px;
        left: -100%;
        width: 50%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: inline-block;
        transition: top .4s;
    }
    nav ul div.items.show {
        top: 60px;
    }
    nav ul div.items li {
        display: block;
        float: none;
        line-height: 30px;
        margin: 30px 0;
    }
    nav ul div.items li a {
        font-size: 19px;
        color: #fff;
    }
    nav ul div.items li span {
        color: #fff;
    }
    .items li:hover>ul {
        background: rgba(0, 0, 0, 0.8);
    }
    nav ul div.items li:hover>ul li {
        margin: 10px 0;
    }
}

@media screen and (max-width: 446px) {
    .header {
        position: fixed;
    }
    nav ul {
        flex-wrap: nowrap;
    }
    nav ul li.search {
        width: 50vmin;
    }
    nav ul li input {
        width: 40vmin;
    }
    nav ul li .search-icon {
        width: 10vmin;
    }
}


/* start responsive slider*/

@media screen and (max-width: 1024px) {
    .slider-contenedor {
        padding-top: 80px;
    }
    .direcciones {
        top: 40px;
    }
}

@media screen and (max-width: 950px) {
    .slider-contenedor {
        width: 630px;
    }
}

@media screen and (max-width: 650px) {
    .slider-contenedor {
        width: 90%;
    }
    .miSlider img {
        height: 40vh;
    }
}


/*end responsive slider*/


/*start responsive main*/

@media screen and (max-width: 1024px) {
    .contenedor {
        grid-template-columns: repeat(3, minmax(170px, 300px));
        margin: 15px 30px;
    }
}

@media screen and (max-width: 950px) {
    .contenedor {
        grid-template-columns: repeat(2, minmax(170px, 300px));
        margin: 15px 30px;
    }
}

@media screen and (max-width: 650px) {
    .contenedor {
        grid-template-columns: 1fr;
        margin: 10px 30px;
    }
}


/*end responsive main*/


/*start responsive footer*/

@media screen and (max-width:950px) {
    .footer-container {
        max-width: 600px;
    }
    .right-col {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .left-col {
        width: 100%;
        text-align: center;
    }
}


/*end responsive footer*/


/* start ver productos */

.verproductos-main {
    width: 100%;
    padding-top: 80px;
    z-index: 0;
}

.verproductos-main .contenedor p {
    font-size: 18px;
}

.ruta {
    max-width: 960px;
    margin: 0 auto;
}

.ruta p {
    color: indigo;
    font-weight: 400;
    font-size: 14px;
}


/*estilos de buscardor.php */

.sin-resultados {
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
    background: #f2f2f2;
}

.mensaje-uno {
    font-size: 22px;
    font-style: bold;
}

.sin-resultados-dos {
    padding: 20px 10px 10px 10px;
    max-width: 960px;
    margin: 0 auto;
}

.mensaje-dos {
    font-size: 18px;
    font-style: bold;
    color: #000;
}