.titulo {
    text-align: center;
    font-size: 50px;
}

.formulario {
    max-width: 700px;
    width: 100%;
    margin: 50px auto 0px auto;
}
.centrar{
  text-align: center;
}
.mostrarcategorias{
  margin: 50px auto 0 auto;
  max-width: 500px;
  width: 100%;
}
.ocultar{
  display: none;
}
