/* start login */
.login {
    min-height: 100vh;
    background-image: linear-gradient(120deg, rgba(254, 100, 138, .5), rgba(255, 138, 71, .5));
}

.login-form {
    width: 360px;
    background: #f1f1f1;
    height: 360px;
    padding: 40px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form .log {
    text-align: center;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 700;
}

.input-txt {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.input-txt input {
    font-size: 18px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.logbtn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(120deg, #fe8b47, #fe648a, #552183);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
}

.logbtn:hover {
    background-position: right;
}
/* end login */

.titulo {
    text-align: center;
    font-size: 50px;
}

.formulario {
    max-width: 700px;
    width: 100%;
    margin: 50px auto 0px auto;
}
.centrar{
  text-align: center;
}
.mostrarcategorias{
  margin: 50px auto 0 auto;
  max-width: 500px;
  width: 100%;
}
.ocultar{
  display: none;
}
.add-imagen{
  margin-left: 40px;
  margin-top: 20px;
display: none;
}
.btn-imagenes{
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
